.signup-input {
    margin: 0 10px;
    max-width: 300px;
}

.signup-input + span {
    display: block;
    color: red;
    margin: 0 10px;
}

.signup-button {
    margin: 10px;
    max-width: 300px;
    width: 100%;
}

fieldset label {
    display: inline-block;
    margin: 10px 10px;
    font-weight: bold;
}